@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	background-size: 100%;
}

.boton{
position: relative;
	top:-350px ;
	bottom: ;
	right:;
	left:750px ;
}

.boton1{
position: relative;
	top:-500px ;
	bottom: ;
	right: ;
	left:250px ;
}

.texto{
	position: relative;
	top:-500px ;
	bottom: ;
	right:25px ;
	left:150px ;
}

.contenedorInferior{
background-color:#EA70A6;
	padding: 20px 0px 20px;
	text-align: center;
	position:static;
}


.copyright{
	color:white;
	font-size: 0.75rem;
	padding: 20px 0;
}

a:hover{
	color:#EAF6F6;
}

a{
	color:#11999E;
	font-family: 'Montserrat', sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}

.bloque.parallax{
	height: 600px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.parallax.image-1{
	background-image: url("imagenes/imags-11.png");
}
